<div class="row alerts-container" data-ng-controller="AlertsCtrl" data-ng-show="alerts.length">
    <div class="col-xs-12">
        <alert data-ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)"><h3>{{alert.msg}}</h3></alert>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h3>Find a Host</h3>
        <h5>Find a host near you to partcipate in voting</h5>
        <p>
            <div class="input-group">
                <span class="input-group-addon" id="sizing-addon2"><i class="fa fa-search"></i></span>
                <input type="text" class="form-control" placeholder="Search for Host" aria-describedby="sizing-addon2">
            </div>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 checkbox">
        <label>
            <input type="checkbox"> Only show public playlists
        </label>
    </div>
</div>
<div class="row" data-ng-controller="FindHostCtrl">
    <div class="col-xs-12">
        <table class="table">
            <caption>Hosts Near Me</caption>
            <thead>
                <tr>
                    <th>Host Account</th>
                    <th>PlayList Name</th>
                    <th>PlayList Id</th>
                    <th>Connect</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="jukebox in jukeboxes">
                    <td class="text-center">{{jukebox.user__account}}</td>
                    <td >{{jukebox.playlist_name}}</td>
                    <td class="text-center">{{jukebox.id}}</td>
                    <td class="text-center">
                        <button type="button" class="btn btn-primary btn-sm btn-block" ng-click="open('sm', jukebox.user__account, jukebox.id)"><i class="fa fa-check-circle"></i> Connect</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
