<div class="container-fluid" data-ng-controller="JukeboxCtrl">
    <div class="row">
        <div class="col-xs-12 text-right">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search Music" aria-describedby="sizing-addon2">
                <span class="input-group-addon" id="sizing-addon2"><i class="fa fa-search"></i></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3">
            <h1>Jukebox</h1>
            <h3>{{businessName.business}}</h3>  
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <button type="button" ng-click="getFreshSongs()" class="btn btn-primary btn-xl btn-inline">Refresh The 'Juke</button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="spinner text-center"></div>
            <table class="table hide" id="songList">
                <thead>
                    <tr>
                        
                        <th>Song Name</th>
                        <th>Artist</th>
                        <th>Album</th>
                        <th></th>
                        <th>Votes</th>
                    </tr>
                </thead>
                <tbody>
                    
                    <tr ng-repeat="song in songs">
                        
                        <td>{{song.song_title}}</td>
                        <td>{{song.song_artist}}</td>
                        <td>{{song.song_album}}</td>
                        <td>
                            <button id="upvote_{{song.id}}" type="button" ng-click="upvote(song.id)" class="btn btn-primary btn-xs btn-inline"><i class="fa fa-arrow-up"></i></button>
                            <button id="downvote_{{song.id}}" type="button" ng-click="downvote(song.id)" class="btn btn-primary btn-xs btn-inline"><i class="fa fa-arrow-down"></i></button>
                        </td>
                        <td class="">{{song.votes}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-xs-12 text-center hide" id="no-songs-message" ng-hide="songs.length">
        No songs in the Jukebox 
        <br> :(
    </div>
</div>
