<div class="row">
	<div class="col-xs-12 text-center">
		<h1>Library</h1>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div class="col-md-4">
			<div class="input-group">
				<div class="input-group-btn search-panel">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
						<span id="search_concept">Filter by</span> <span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li><a href="#title">Title</a></li>
						<li><a href="#artist">Artist</a></li>
						<li><a href="#album">Album </a></li>
						<li><a href="#genre">Genre </a></li>
					</ul>
				</div>
				<input type="hidden" name="search_param" value="all" id="search_param">
				<input type="text" class="form-control" name="x" placeholder="Search term...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                </span>
			</div>
		</div>
		<table class="table">
			<caption>Your Search Returned 4 Results</caption>
			<thead>
			<tr>
				<th>#</th>
				<th>Song Name</th>
				<th>Artist</th>
				<th>Add</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<th scope="row">1</th>
				<td>The War</td>
				<td>Angels & Airwaves</td>
				<td>
					<button type="button" id="increaseButton" class="btn btn-success">+</button>
				</td>
			</tr>
			<tr>
				<th scope="row">2</th>
				<td>Yelow</td>
				<td>Coldplay</td>
				<td>
					<button type="button" id="increaseButton" class="btn btn-success">+</button>
				</td>
			</tr>
			<tr>
				<th scope="row">3</th>
				<td>Soul Meets Body</td>
				<td>Death Cab for Cutie</td>
				<td>
					<button type="button" id="increaseButton" class="btn btn-success">+</button>
				</td>
			</tr>
			<tr>
				<th scope="row">4</th>
				<td>Save the World</td>
				<td>Swedish House Mafia</td>
				<td>
					<button type="button" id="increaseButton" class="btn btn-success">+</button>
					<!--<span class="input-group-btn"><button type="button" id="decreaseButton" class="btn btn-danger">-</button></span>-->
				</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>
<script>
</script>