html {
  width: 100%;
  height: 100%;
  background-color: #212121;
  color: #e0e0e0; }

body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px; }

.leftBar {
  width: 5%;
  height: 100%;
  border-right: 1px solid #ffc107;
  padding: .5px 0px;
  position: fixed;
  float: left;
  text-align: center; }

a {
  color: #e0e0e0;
  text-decoration: none; }

.barItem {
  width: 100%;
  height: 5%;
  font-size: 2em;
  position: relative;
  margin: 10px 0px;
  padding: 5px 0px; }

.topBar {
  width: 95%;
  height: 5%;
  border-bottom: 1px solid #ffc107;
  position: fixed;
  padding: 0px 1px;
  float: left;
  left: 5%; }

.Logo {
  width: 5%;
  height: 100%;
  display: inline;
  float: left; }

input[type="search"] {
  width: 95%;
  float: right;
  background-color: transparent;
  color: #e0e0e0;
  border: none;
  text-align: center;
  font-size: 2em;
  display: inline;
  margin: 0;
  padding: 0; }
  input[type="search"] ::-webkit-input-placeholder {
    /* For WebKit browsers */
    color: #e0e0e0;
    font-weight: bold; }
  input[type="search"] :-moz-placeholder {
    /* For Mozilla Firefox 4 to 18 */
    color: #e0e0e0;
    font-weight: bold; }
  input[type="search"] ::-moz-placeholder {
    /* For Mozilla Firefox 19+ */
    color: #e0e0e0;
    font-weight: bold; }
  input[type="search"] :-ms-input-placeholder {
    /* For Internet Explorer 10+ */
    color: #e0e0e0;
    font-weight: bold; }

input[type="search"]:focus {
  outline: none; }

.content {
  width: 95%;
  height: 95%;
  position: fixed;
  left: 5%;
  top: 5%;
  padding: 1px; }
